
.weui-wepay-color-dark{
    color:#353535!important;
}
.weui-wepay-color-gray{
    color:#888888!important;
}
.weui-wepay-color-light{
    color:#B2B2B2!important;
}
.weui-wepay-color-blue{
    color:#576B95!important;
}
.weui-wepay-color-lightblue{
    color:#1C7EFB!important;
}
.weui-wepay-color-green{
    color:#4ABB44!important;
}
.weui-wepay-color-red{
    color:#DA3E00!important;
}
.weui-wepay-color-orange{
    color:#FF6633!important;
}