.weui-wepay-code {
  margin: 15px;
  position: relative;
  z-index: 1;
}
.weui-wepay-code__bd {
  background-color: #23ac38;
  padding: 32px 0 48px 0;
  text-align: center;
}
.weui-wepay-code__ft {
  background-color: #fff;
}
.weui-wepay-code__info {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}
.weui-wepay-code__title {
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}
.weui-wepay-code__main {
  padding: 12px 13px;
  background-color: #ffffff;
  width: 155px;
  margin: 13px auto 0;
  box-sizing: border-box;
  line-height: 1;
}
.weui-wepay-code__subtitle {
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-top: 8px;
}
.weui-wepay-code__line {
  position: absolute;
  background-color: #51bd50;
  height: 2px;
  z-index: 0;
  left: 30px;
  right: 30px;
  top: 22px;
}
.weui-wepay-code__flow .weui-wepay-flow__bd {
  padding: 15px 15px 53px;
}
.weui-wepay-code__flow .weui-wepay-flow__li {
  width: 25px;
  height: 25px;
}
.weui-wepay-code__flow .weui-wepay-flow__state {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  font-size: 18px;
  color: #23ac38;
  line-height: 23px;
  text-align: center;
  border: 1px solid #23ac38;
  border-radius: 13px;
  box-sizing: border-box;
}
.weui-wepay-code__flow .weui-wepay-flow__line {
  height: 1px;
  background-color: #23ac38;
}
.weui-wepay-code__flow .weui-wepay-flow__process {
  height: 2px;
}
.weui-wepay-code__flow .weui-wepay-flow__li {
  position: relative;
  z-index: 1;
}
.weui-wepay-code__flow .weui-wepay-flow__li .weui-wepay-flow__title-bottom {
  color: #333333;
  font-size: 11px;
  line-height: 14px;
  top: 32px;
}
.weui-wepay-code__flow .weui-wepay-flow__li:nth-child(1) .weui-wepay-flow__title-bottom {
  text-align: left;
  left: 0;
  transform: translate(0, 0);
}
.weui-wepay-code__flow .weui-wepay-flow__li:nth-child(3) .weui-wepay-flow__title-bottom {
  text-align: center;
}
.weui-wepay-code__flow .weui-wepay-flow__li:nth-child(5) .weui-wepay-flow__title-bottom {
  text-align: right;
  left: auto;
  right: 0;
  transform: translate(0, 0);
}
.weui-wepay-code_logo {
  border-radius: 20px;
  overflow: hidden;
}
.weui-wepay-code__business {
  padding: 20px 0;
}
.weui-wepay-code__business-logo {
  line-height: 1;
  text-align: center;
}
.weui-wepay-code__business-info {
  text-align: center;
  margin-top: 6px;
  font-size: 12px;
  color: #000000;
}
