/* ============================================================
   公用内容
   ============================================================ */
body {
   background-color: #E5E7E5;
}
.hide {
   display: none !important;
}

/* 素材 */
.wepay-logo {
   content: "";
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAI4AAAAmCAYAAAASsqOLAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAApJSURBVHhe7ZwLjBXVGcepLdaSWqxi1fpAraYvbZU2EWO0Fh9VjAEfrX0YJRpajEYJTZWkGoEYrRqNmqgYTMUXFYLGB9g0WldSsi9gd7vgo4gKSisVW9cFBVZk/f1PvrnOnTnzuHv33r3g/JN/5pzvfN85Z+b75sw5Z+beYdWgs7Nzr2XLlk2ANy5fvnwxx5fh+6T7jdthD3wV+dPwVtITZWdVFPi8AMePgJMIguc5fgyDIMlNbD+BS9rb2y9ZunTpnlZ1gV0RNrrMgOERZTDYq3qLUWgXQ39//xdw7EVwo8fpg0k90iarPWu6wM6K5ubmvQmYZyIOrilp7/mWlpb9rAsFdjZ0dHQciRPf9Dm31qTddW1tbcdYVwrsLMBxR8NaP5qy+AF9OM66VKDRgcMOwWHrI04cKq5qamraw7pWoFGBo4bDtpDjhoQEbhe8aNWqVbtb1wo0MnDWTJ8j60Ha3gEXkR5n3XHQKmvFihU/smyBRkNnZ+ehOG1L2Jl1otqc3d7e/m3rSgkEzI8JpmbKt/vKCzQAcM695sh6cQNBcS3HUdaFElhR7U/ZAxqFAn3Sj1lxgUYBjhmJYz4MnFRL0k43x0m++cvq1au/TPk1cJPHrq+jo2NfUy3QCMApv4o6ysOP0VvikeflYh43p1qTMVA+kfrXRGzKSPkVpl4xeOwdYckSNLJR7wjLlkH7SNicZNlUoDc6LahbW1sP0mPXslWD6zAFzrLsgMG5j9P7QssmwjaC77DsZ0D4QNhBPqKzQrpcgLNJ593j2YLufRy/4xrygI4fRflzIZs0LjCzimDv2d6nrTNN5EB9L8KJli0D8oXYzLBsKtC9Dd1Flo2Bsrthq2WrhvpFm3MtO2BQzxI407KJsPlvv2U/A8ZdKsgid9UPTf8A+DefjkjZf+F1pGPzlwAWxXejo08vvPV4+LaZVwTs7oKdrNB2o80Zwd4QslLg6AjHKm3v5zbC05XPAnpruaF+a9kYqFd7Y315R7As6Byos6rAkS/VJ3iAiRKRGDgIe1WQRRp5xEzcxUU2FdnWkM5KDX2aq5haDDjtS9hcAf8fsstFbHZYNbmB3YlQwemCQvUEb+JJhwNnLpxq6bG0tTntPAKgdxzssxthltXj41uUz/fI58rOqlPbw9W/NKLzJzjPVxZm2uYpbT6uti2bCupKDByvozzU9zeHmJkDd9ERdOIyeHLWm210ToMvReqsiMw99rHqMmGrs//AW03kzlUX1dJJgXMzXAknhcld+j2Vh4Fcjn/Y0n8gfUellJ2rDJDWyOc990pJ3d5HLfIT4DYFhIlSMRiBI95mZrmh4MLuqUg9A2J3d/fXrdpUaARAfyUXaIlGORO7c00LHOlyfMvKnhSpQ6u8pZrfSTeAtfER8uNNVDWob4QclUb6o2Bb6CuLMPaN04IFC76IfQu8U3mOv6aushHQw4VQ178kc5VhnPuxge4mX4d8YDXxNWxuxmZbtJ6BUvMUqz4VFqwdcq7y9OEWZN+0ehZDBcV7UK9YlFawTEXnXI494e0C8u8g/4FlS6BOzTVKgSiQHxVyXB7mupZhWLsDmuNge7X6DN0Nw3mdofoyqEB1I1jAoLJlVlkuon61M0yAnKu5DroborZV8nVrIhcC52M3jj5rcqrAmZpEdMbAVtK9rgKgcyG/vaur6xsmcpDDkevjs7LAwf4ek+fldDPNDdoYUOBgp68etonYu8DJAwU4+t5H1WwV5CUN/zvpBSRlen6i5retkgutmYpAf16AcyybCIL9PNr4H9RrELci1B4Mtn1OIQTKNQ96A5YFTj1AfyoOHD3isXsNakdeq+jqA4c78WwVVMhJZu6gC4zsLxGdQaVGMWsuN7hIZ2GrVZWb1Nu5+kabyzhO5jiNoybGJ5q9JvT/VDoA/TgKWR86v4A1Cxzqng5joxRtb7X2fWXvcnQryABatCBvht3c8F/lGAsc8pcH2y1RJAaOlp1qVIUV8FX9QoE5xFdIXw8/CpUNOjlZLfsT94V8sIukrxh7TKRAuJJ8eOLniPwePZa0hCX9OHS71Bx/D92qKQD5Z+Cc4IKGA4e8nK2JdV6W3YBhaASknR0cf8nx5CxS1/2wxxfIyOfp5lYa3VjgILsRLg8vJAIkBo5AgfYGvE5LoX6hsNkjrwXvt67mhmzon3a5S4GTB+hPx87tWZHWatAt0wNQNkHO8QUOZadLvwKWjQ5h2EjRgs6DJkqEXnnYuZb1NYDqsqQ3cDQAIF8DY/PXrMAZBXNtBNabnMxW7pbDrKu5gM2lcDMcTx2lwNEqS++hotSFMxXd6T/Bbr2NxB+Q937S4QucwYb6RhtbNPqYKAYLsEWwRcttEycCPe8chzZOpUyPwW+ZyCE1cAQMpkih0Ui/Mt+nRIHdOdidbyddChzS+jGhLs7agMi2y0GmIh19CalHt7YSXjNxDPUIHIE+6KXmJni0iUpQ0NAHvVLZgOMPNnEqqCdxcoxc7+ietqxDZuBYJ56VUqOQk2jxPXfzIho4XFxtE7xoWQfaWBsOHAEdzRfU/jQTxeALHPTHIIvNoVJYthOfBPRup+6N4Qmsbeb9WXIYC6okoJsYOFyfwynXO6zxJsoOHEEXAaV/SXGoSefX0Z8DrWsDgp10eMTRvKLJsg604wKHFddJmhxLRvpC9SGYUPoQXFBdMxOpfn0eog3V6FzGxy3RgE0D9c6Em+jbBXA06X/ANaS/ayq5gE1i4AiU/w6WAjE4T8smQxdLHZLyUJH211d6QXyIBg713gTnW9aBvJawGu57ueOO5fy14/0Gck027zK1GFICZ61lU4FuTyWBI2DzG7VJG/rwbnGwM14JsE0NnChyB46A07TLOiS/eODEXlFnrStVIRo4pNvhVZbVeY62Nt8lfbyGf/JaSbXppSZHfVM0wdTLUM/AQXcE9WoOqrfsuqmbOGryP6vS4MGmdoEj2Kecj8ioXlR72n+xLlSNcOAQGBfqYuOs/V0hsGXoX7VqszmelvAagdzcg7SGbTlojDMIodaBQ/lw6vopnENaWx8KmMnBnI/0z2Abcr1GeAxqs9P7RWMY6NU2cAQMRsqo1uRk9DFU2dvnwUAQOFArpXdo52IrioEyfa2oX5CWBQmy2cg0MT3SRA4pgbNeZVlEtzcaOMjGQn2e8YTKoXaDH+Y4LrwXE4Yer5Tfi54+IdFG6XMc9Z9FP4exQKIsd+DY4KH/QNpqonzgxL5PI15nDwbp0Do4JendV7UwB7kRJ2u5qn7A2M+ObfWioBppIgeruyxw0NNdX3oFkEX0y1ZD5OdDTXpv4kY6BZ3hVpQJ28/Ri9pp8FFsO3wfo1n9Z1k2Edi/DuUnBfANJs4HDDT7jzkcvkfjsV8j5KQu2jzsx3OyuT6TKFB/aJEQvikqAs7VrytLTif/Jjxf0a07kbtCP5rTp6C6IzVEvgK1qaa7SRtsyv+dvPZFroIainPfRQV2QsjBON29i9IR/jHY5yhQIBEEzCiCRY+jhxiyqtqIK7ArYdiwTwE7t/3XwTZXIwAAAABJRU5ErkJggg==) no-repeat;
   width: 71px;
   height: 19px;
   display: inline-block;
   -webkit-background-size: 71px 19px;
   background-size: 71px 19px;
   -moz-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   position: absolute;
   left: 50%;
   bottom: 20px;
}

/* 弹出层 */
.mask {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.85);
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
}

/* 信息列表 */
.info-list .list {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -moz-box-orient: horizontal;
   -webkit-box-orient: horizontal;
   -o-box-orient: horizontal;
   box-orient: horizontal;
   line-height: 22px;
   width: 100%
}
.info-list .list-title {
   font-size: 12px;
   color: #999;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   width: 30%;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   display: block
}
.info-list .list-content {
   font-size: 12px;
   color: #333;
   text-align: right;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   width: 70%;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   display: block
}

/* 操作提示 */
.tips .icon-area{
   font-size: 78px;
   margin-left: 50%;
   -moz-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}
.tips .tips-title {
   font-size: 24px;
   text-align: center;
   padding: 20px 0 12px
}
.tips .tips-info {
   font-size: 15px;
   text-align: center
}

/* ============================================================
   页面
   ============================================================ */

/* confirm.html(确认缴费) */
.confirm {
   margin-bottom: 20px
}
.info-area {
   position: relative;
   background-color: #FFF;
   padding: 0 18px
}
.info-area:after {
   position: absolute;
   content: '';
   width: 100%;
   left: 0;
   bottom: 0;
   height: 1px;
   background-color: #ccc;
   -webkit-transform: scale(1, .5);
   transform: scale(1, .5);
   -webkit-transform-origin: center bottom;
   transform-origin: center bottom;
}
.info-area .totle {
   position: relative;
   padding: 25px 0 21px;
   text-align: center
}
.info-area .totle:after {
   position: absolute;
   content: '';
   width: 100%;
   left: 0;
   bottom: 0;
   height: 1px;
   background-color: #E0E0E0;
   -webkit-transform: scale(1, .5);
   transform: scale(1, .5);
   -webkit-transform-origin: center bottom;
   transform-origin: center bottom;
}
.info-area .totle .totle-title {
   font-size: 15px;
   color: #000
}
.info-area .totle .totle-num {
   font-size: 50px;
   padding-top: 7px;
   text-align: center
}
.info-area .totle .totle-num .question-area {
   vertical-align: 5px
}
.confirm .info-list .map-icon {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAaCAMAAACEqFxyAAAAZlBMVEVMaXEylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekylekHdqU+AAAAIXRSTlMAAU75cRLI5QYE6Vz0Dtv9CHlrPjhYtRSEFzFUzp2jwR59IF9fAAAA9ElEQVR42n3QWY7DIBAE0AK8ELzhLd4zU/e/5LTDWLH9kffRSKhUasB3Xm9rvm7a48TWFYOqtjgMKZ2OFVSsHdMBwWTYKASqoZlCg2OLj5bOQoxsZD76JE/6B4CGo0xPp9714l2sHD2guUg2ZWRhI6aSX6iBjTGQMcIuYg/EfAErJZDQY2eZAIolYAggJwLm+6iAkmpP21v6xeLcnQHF3p2xu23SsgcGPnHZG0/uM+EEyWfyykyy+JV+MUv87IdzOC9fpY9UbEyMw1SZAkHL0iMoUnY41Me9LxnhY2Q6hTVrnEWsFqsryV7NOUnT4c7XbvT49wddExMvqUZ8/wAAAABJRU5ErkJggg==) no-repeat;
   width: 11px;
   height: 13px;
   -webkit-background-size: 11px 13px;
   background-size: 11px 13px;
   display: inline-block;
   margin-right: 4px;
   vertical-align: -2px
}
.confirm .info-list .list-content a {
   color: #3295E9
}
.confirm .info-list {
   padding: 20px 0 29px
}
.confirm .weui-btn {
   margin: 19px 0 13px 0
}
.confirm .tips {
   font-size: 14px;
   color: #666;
   text-align: center
}
.info-area .totle .totle-num .overtime-tips {
   font-size: 15px;
   text-align: center
}
.info-area .totle .totle-discount {
   font-size: 15px;
   text-align: center;
   color: #A7A7A7;
   text-decoration: line-through
}
.discount-free-btn, .info-btn {
   margin: 0 10px
}
.show-discount .info-area .totle .totle-discount, .show-discount-free .discount-free-btn, .show-discount-free .info-area .totle .totle-discount, .show-overtime .info-area .totle .totle-num .overtime-tips {
   display: block
}
.discount-free-btn, .info-area .totle .totle-discount, .info-area .totle .totle-num .overtime-tips, .info-list .discount-list, .over-due, .show-discount-free .info-btn {
   display: none
}
.show-discount .discount-list, .show-discount-free .discount-list, .show-overtime .over-due {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex
}

/* 无需缴费 */
.info-area .totle .totle-free, .info-area .totle .totle-unin {
   font-size: 24px;
   text-align: center;
   padding: 18px 0 5px;
   display: none
}
.info-area .totle .free-tips, .info-area .totle .unin-tips {
   display: block;
   padding-top: 7px;
   font-size: 15px
}
.info-area .totle .green-font {
   color: #22AC38;
   margin: 0 6px
}
.show-free .info-area .totle .totle-free {
   display: block
}
.show-free .btn, .show-free .tips, .show-free .totle-num, .show-free .totle-title {
   display: none
}

/* 此卡未入场 */
.show-unin .info-area .totle .totle-unin {
   display: block;
}
.show-unin .totle-num, .show-unin .totle-title, .show-unin .btn, .show-unin .tips, .show-unin .last-time, .show-unin .in-time {
   display: none;
}

/* 计费方式弹出层 */
.billing-mask {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.billing-mask .content {
   background-color: #E7E7E7;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   width: 90%;
   padding-bottom: 14px;
}
.billing-mask .billing-title {
   padding: 18px 0;
   text-align: center;
   font-size: 18px;
   color: #333333;
   font-weight: 600;
}
.billing-mask .billing-list {
   padding: 0 15px;
}
.billing-mask .billing-list .list {
   line-height: 20px;
}
.billing-mask .billing-list .totle-list {
   padding-top: 8px;
   position: relative
}
.billing-mask .billing-list .totle-list:before {
   content: "";
   width: 100%;
   display: block;
   border-top: 1px solid #CECECE;
   position: absolute;
   left: 0;
   top: 4px;
}
.billing-mask .billing-list .green-font {
   color: #22AC38;
}
.billing-mask .rules {
   padding: 0 15px;
}
.billing-mask .rules .rules-title {
   font-size: 12px;
   color: #666666;
   padding: 45px 0 12px;
   font-weight: 600;
}
.billing-mask .rules .rules-main {
   font-size: 10px;
   color: #999999;
   line-height: 20px;
}
.billing-mask .close-btn {
   margin: 30px 15px 0;
}

/* 输入车牌号 */
.lpn-form .form-line .label {
   min-width: 84px
}
.input-area {
   margin-top: 20px
}
.lpn-form .lpn-element {
   position: relative
}
.lpn-form .lpn-element .select {
   float: left;
   width: 50px;
   position: absolute;
   top: 0;
   left: 0
}
.lpn-form .lpn-element .text {
   overflow: hidden;
   padding-left: 50px;
   width: 100%
}
.lpn-form .lpn-element .switch-bg {
   position: absolute;
   top: -5px;
   right: 15px
}
.lpn-form .lpn-element .arrow-down {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAQCAIAAACKrYi4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaBJREFUeNqkkmurAWEUhWd2KJRrco3kOiH+/3+QO7nlsxK55c5Zp1WTBsNx9qe133fvZ+3Z88p6va7VavP5/PbvmM1mzWZzt9up1Wr1eDwqipJKpQKBgPJtTKfTyWQC4XQ6JRqN8nQ8HmPe74iYkUREKBSSYDAYiUSYDwaD5XL5V+JisRiNRtSxWAyfK1DxeBxonvZ6PWz5c+Jqter3+9ThcBhQCGGeTCb1hXY6ne12+wlxs9l0u11qjJVIJKhFr8CP8vv91K1WCz/RnAjjdrtNjYEwln4l93WZTMbr9VI3Go3D4fCKuN/vYUzt8/kw0P2tGKqz2azb7aau1+t8bYaAGSypPR4PWgwFRqiqqvl8Hm8NGu8ZzafT6b4ANjDDFbTL5crlco+u8ngEbrFYJPdyuYB7Pp95BQOkJKJA0zQUfwQlt1Ao2O12aBAxGugQIELg0OFwwPgp8bedtk/jer3qa7XZbEg5MsxKpZKIvGoUk0eDtkqlYrVauUoSQTcnvoGSWy6XLRYLUxggNSe++Xw9MONwOMQG0+m0bmASPwIMAMJVCiUTC0c1AAAAAElFTkSuQmCC) no-repeat;
   display: inline-block;
   width: 14px;
   height: 8px;
   -webkit-background-size: 14px 8px;
   background-size: 14px 8px;
   position: absolute;
   top: 7px;
   left: 25px
}

/* success.html(成功页) */
.success {
   position: relative;
   background-color: #FFFFFF;
   padding: 45px 0 0;
}
.success:after {
   position: absolute;
   content: '';
   width: 100%;
   left: 0;
   bottom: 0;
   height: 1px;
   background-color: #CDCDCD;
   -webkit-transform: scale(1, .5);
   transform: scale(1, .5);
   -webkit-transform-origin: center bottom;
   transform-origin: center bottom;
}
.success .tips-info {
   position: relative;
   margin: 0 18px;
   padding-bottom: 40px;
}
.success .tips-info:after {
   position: absolute;
   content: '';
   width: 100%;
   left: 0;
   bottom: 0;
   height: 1px;
   background-color: #ECECEC;
   -webkit-transform: scale(1, .5);
   transform: scale(1, .5);
   -webkit-transform-origin: center bottom;
   transform-origin: center bottom;
}
.success .tips-info .green-font {
   padding: 0 5px;
   color: #22AC38;
}
.success .add-area {
   overflow: hidden;
}
.success .add-area .map-link {
   padding: 29px 25px 32px 21px;
   float: right;
}
.success .add-area .map-icon-b {
   background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABSCAMAAADn0ONgAAAA4VBMVEVMaXEirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDgirDj///8mrjwSpinO7dMWqC0Anxff9OMcqjNawWtwyX7u+fCf26jW8NoIoiB/z4xhxHEtsUJ6zYf5/fo+t1EAkgCK05a047xQvmL+//7p9+vs+O7A6Mb2/PeX2KJox3ep37LI6swEmAvd8+FKskfMvJP4AAAAJnRSTlMAFcYcVQilA/4PQCKNmHNKKLM4aL/6XerVz623MOCe9/Fj2vN/NRWty1sAAAPKSURBVHja7ZhrT+pYFEAPr7ZwQSlQQbyIV53VAipX5A2q+Hb+/w8aOLScqbTJDG0yMeP6QAJhr+zuByRb/NfoxbJ2enZ2qpWLeozaVMFgg1FIxaTNmnzCzMbhTQM4w157MZks2r2hA5CO7j0GRvOFvWExHwHHUZtmAi8Pto+HF8DUo+br9Owtek7EnNPg3NoB3DqR6pw1oGcH0gNj99mow4sdwgvUd94LGD2EiR9GsOum5GFuhzKH/I6jZuB48/vaanXWtMbePDsYu41cEYau5Kk/fGuvGfQf3Q+HUNxJXFYjMcfeMJqqwSjvJNag7Treu0r8PLuxJW3QRCilZLmYEYGcwsJV/HlpK7rPbpGhES5OAtT2fgbIT2CyEtyM54PB7w3jwXz8Zi+ZAMlfP0IayIbz0qdNMuB+JZhezGaziw3vs9m7YS+5BwiVA+UkHvlc1leK65WA1nDe7bDG6IwGg1HHXnINgHUSLAeE0FNpzcKlsJ8QEhNkm1p3yxenheTqYjltj31ZIki6cU0l94kliVy+iouWTuliD+QvW38lNrbFr7Cn4rA8uRIrMj/3DnE5OoaBzLjfHdy1rlxazniMFI+h9CnOUHJA+NF/HJgGa6Yys6v+Reuq01rT6fQvjPGqd1PIhsSRVmK/PLFfOAN3Qy5vb2/bHx6PyzeT9X4cBsXJZiLFIWSPYbze4quW2pBhvy/38Dekg+NKShxMBkYL6Zp1nv620rPn9e+xkRHBKHEIwEDK3h5sxY0cwgHkRQSx82EH8uFANoqY7n2Q974L5yKCuAm9kD9p9CjiHDg3294bBxBRxEKD6eKzdzElslhvwN2T3/t0B42oYpGwoPvk83bBykYWiyJ+82QIFEV0scgBd5s6X3eBkogs9sxTdzYup0BOxCMWPy1wnleb8joC4w8Rl1gkToG7t/YQqKZEfGKha7iYGRGbWJI7A2juCxGzWOjpWu1AF/GKFV9HnEhrtWazpqUTsYozdTbUMzGKj0BRiVFc8Ym/QCnc5lnWqnn/+zn+Fn+Lv8Xf4m/x1xWXsv8+OFtScaFiOJHnmn8q3pwOCI9DpHExzIOtY1TokcQ6rDQaR0krNI71d/E49B/gAs86Z4c1PBpm5SQozg2UVyw8qvmc93xbh6jqKZL8fkrfZGTWG1tx+EuHhyXPWMJ3OqtKNfUDdbJUGZla0hfH52bn8myuUZUylCsAVtUtlBqEgIzM46OmF0fgJJ0jbUia6uFFGCqjo4LWgACxalQNQD38FuEZVQoFEOFkiuWkfPhwwjNKilhRGZX+ApPLRPqoBrnbAAAAAElFTkSuQmCC") no-repeat;
   width: 44px;
   height: 42px;
   -webkit-background-size: 44px 42px;
   background-size: 44px 42px;
   display: inline-block;
}
.success .add-area .add-info {
   overflow: hidden;
   border-right: 1px solid #F1F1F1;
   margin: 29px 0 32px 20px;
}
.success .add-area .add-info dt {
   font-size: 12px;
   color: #999999;
   padding-bottom: 12px;
}
.success .add-area .add-info dd {
   font-size: 16px;
}

/* map.html(导航页)
=======================*/
.map {
   background-color: #FFFFFF;
}
.map:after {
   display: none
}
.map .add-info {
   position: relative;
   padding: 18px;
   display: -moz-box;
   display: -webkit-box;
   display: -webkit-flex;
   display: -o-box;
   display: -ms-flexbox;
   display: flex;
   -moz-box-orient: horizontal;
   -webkit-box-orient: horizontal;
   -o-box-orient: horizontal;
   box-orient: horizontal;
   font-size: 16px;
}
.map .add-info:after {
   position: absolute;
   content: '';
   width: 100%;
   left: 0;
   bottom: 0;
   height: 1px;
   background-color: #CDCDCD;
   -webkit-transform: scale(1, .5);
   transform: scale(1, .5);
   -webkit-transform-origin: center bottom;
   transform-origin: center bottom;
}
.map .add-info .add-floar {
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   box-flex: 1;
   -ms-flex: 1;
   color: #999999;
}
.map .add-info .add-detail {
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   box-flex: 1;
   -ms-flex: 1;
   color: #22AC38;
   text-align: right;
}
.map .map-link {
   margin: 30px 22px;
   display: block;
}
.map .map-link img {
   height: auto;
   height: 100%\9\0;
}